/**
 * @brief dcWikipedia, a plugin for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Plugin
 *
 * @author Tomtom & Gibus
 *
 * @copyright Tomtom, Gibus gibus@sedrati.xyz
 * @copyright WTFLP Version 2 http://www.wtfpl.net/
 */
p.wikipedia_value{
	font-weight: bold;
	font-size: 1.1em;
}
p.wikipedia_desc, a.wikipedia_uri{
	font-style: italic;
	font-size: 0.9em;
}
